@model IEnumerable<Bookstore.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var category in Model)
    {
    <div class="col-md-4">
        <h2>@category.Name</h2>
        <ul>
            <li>Books</li>
        </ul>
    </div>
        

    }

</div>